#menu {
  & > div.pure-menu {
    height: 32px;
    & > a {
      padding: 5px 10px;
    }
    & > ul {
      & > li {
        font-size: 0.875em;
        text-transform: capitalize;
        color: rgb(75, 75, 75);
        padding: 0 0.5714em;
        line-height: 1.75;
      }
      & > li:nth-of-type(1) { border-left:3px solid rgb( 14, 144, 210); }
      & > li:nth-of-type(2) { border-left:3px solid rgb(128,  88, 165); }
      & > li:nth-of-type(3) { border-left:3px solid rgb( 94, 185,  94); }
      & > li:nth-of-type(4) { border-left:3px solid rgb(221,  81,  76); }
      & > li:nth-of-type(5) { border-left:3px solid rgb(243, 123,  29); }
      & > li:nth-of-type(6) { border-left:3px solid rgb(250, 210,  50); }
    }
  }
}


#main {
  position: absolute;
  height: 100%;
  width: 100%;
  & > section {
    display: none;
    &.active {
      display: block;
    }
  }
}

#box-editor {
  width: 100%;
  height: 100%;
  & > div.pure-menu {
    top: 32px;
    height: 32px;
    & > ul {
      & > li {
        font-size: 0.875em;
        text-transform: capitalize;
        color: rgb(75, 75, 75);
        padding: 0 0.5714em;
        line-height: 1.75;
      }
      & > li:nth-of-type(4) { border-left:3px solid rgb( 14, 144, 210); }
      & > li:nth-of-type(5) { border-left:3px solid rgb(128,  88, 165); }
      & > li:nth-of-type(6) { border-left:3px solid rgb( 94, 185,  94); }
      & > li:nth-of-type(1) { border-left:3px solid rgb(221,  81,  76); }
      & > li:nth-of-type(2) { border-left:3px solid rgb(243, 123,  29); }
      & > li:nth-of-type(3) { border-left:3px solid rgb(250, 210,  50); }
    }
  }
  & > #box-editor-content {
    position: absolute;
    top: 64px;
    width: 100%;
    height: ~'-webkit-calc(100% - 64px)';
    height: ~'-moz-calc(100% - 64px)';
    height: ~'calc(100% - 64px)';
    & > #box-editor-textarea {
      width: 100%;
      height: 100%;
    }
  }
}

#box-sandbox {
  width: 100%;
  height: 100%;
  & > #box-sandbox-iframe {
    width: 100%;
    height: 100%;
  }
}

/*#menu {
  &.active+#main>* {
    width: ~'-webkit-calc(100% - 160px)';
    left: 160px;
  }
}
#main {
  &>* {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    &.content {
      max-width: 100%;
    }
  }
  &>[id^=box-] {
    display: none;
    background-color: white;
    &>textarea, &>#box-sandbox-iframe {
      margin: 0px;
      padding: 0px;
      border: none;
      width: 100%;
      height: 100%;
    }
  }
  &>[id^=box-].active {
    display: block;
  }
}*/

/*
html, body, #layout, #main, #main>* {
  height: 100%;
}
  #main>.content {
    margin-bottom: 0px !important;
    width: 100%;
  }
  #main>[id^=box-]>textarea, #box-sandbox-iframe {
    margin: 0px;
    padding: 0px;
    border: none;
    width: 100%;
    height: 100%;
    background-color: white;
  }
*/




// --------------------------
// Responsive Styles
// --------------------------

@media (min-width: 640px) {

}


// --------------------------
// CodeMirror Styles
// --------------------------

//.CodeMirror-gutters {
//  padding: 0 10px 0 20px;
//}
.CodeMirror, textarea, code {
  font-family:
               'Menlo',
               'Monaco',
               'Andale Mono',
               'lucida console',
               'Courier New',
               'monospace' !important;
}
