div.pure-menu {
  height: 32px;
  width: 512px !important;
  -webkit-user-select: none;
  & > ul {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    & > li {
      font-size: 0.875em;
      text-transform: capitalize;
      color: rgb(75, 75, 75);
      padding: 0 0.5714em;
      line-height: 1.75;
      -webkit-user-select: none;
    }
    & > li.selected {
      font-weight: bold;
      color: rgb(45, 45, 45);
    }
  }
}

#menu {
  & > div.pure-menu {
    & > ul {
      & > li:nth-of-type(1) { border-left:3px solid rgb( 14, 144, 210); }
      & > li:nth-of-type(2) { border-left:3px solid rgb(128,  88, 165); }
      & > li:nth-of-type(3) { border-left:3px solid rgb( 94, 185,  94); }
      & > li:nth-of-type(4) { border-left:3px solid rgb(221,  81,  76); }
      & > li:nth-of-type(5) { border-left:3px solid rgb(243, 123,  29); }
      & > li:nth-of-type(6) { border-left:3px solid rgb(250, 210,  50); }
    }
  }
}

#main {
  & > section {
    display: none;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    &.active {
      display: block;
    }
  }
  & > #box-config {
    margin-top: 32px;
    padding: 1em;
  }
  & > #box-editor {
    position: absolute;
    width: 100%;
    height: 100%;
    & > div.pure-menu {
      position: fixed;
      top: 32px;
      & > ul {
        & > li:nth-of-type(4) { border-left:3px solid rgb( 14, 144, 210); }
        & > li:nth-of-type(5) { border-left:3px solid rgb(128,  88, 165); }
        & > li:nth-of-type(6) { border-left:3px solid rgb( 94, 185,  94); }
        & > li:nth-of-type(1) { border-left:3px solid rgb(221,  81,  76); }
        & > li:nth-of-type(2) { border-left:3px solid rgb(243, 123,  29); }
        & > li:nth-of-type(3) { border-left:3px solid rgb(250, 210,  50); }
      }
    }
    & > #box-editor-content{
      position: absolute;
      top: 64px;
      width: 100%;
      height: ~'-webkit-calc(100% - 64px)';
      height: ~'-moz-calc(100% - 64px)';
      height: ~'calc(100% - 64px)';
      & > #box-editor-textarea {
        width: 100%;
        height: 100%;
      }
    }
  }
  & > #box-sandbox {
    position: absolute;
    top: 32px;
    width: 100%;
    height: ~'-webkit-calc(100% - 32px)';
    height: ~'-moz-calc(100% - 32px)';
    height: ~'calc(100% - 32px)';
    & > #box-sandbox-iframe {
      width: 100%;
      height: 100%;
    }
  }
}

// --------------------------
// Responsive Styles
// --------------------------

//@media (min-width: 320px) {
//}


// --------------------------
// CodeMirror Styles
// --------------------------

//.CodeMirror-gutters {
//  padding: 0 10px 0 20px;
//}
.CodeMirror, textarea, code {
  font-family:
               'Menlo',
               'Monaco',
               'Andale Mono',
               'lucida console',
               'Courier New',
               'monospace' !important;
}
