doctype html
html
  head
    meta(charset='UTF-8')
    title QUnit Main Test Suite
    link(rel="stylesheet", href="./thirdparty/qunit/qunit.css")
    script(src="./thirdparty/qunit/qunit.js")
    script(src="./thirdparty/zepto/zepto.min.js")
    script(src='./thirdparty/jszip/jszip.min.js')
    script(src='./thirdparty/coffee-script/coffee-script.min.js')
    script(src='./thirdparty/jade/jade.min.js')
    script(src='./thirdparty/less.js/less.min.js')
    script(src='./thirdparty/stylus/stylus.min.js')
    script(src="./lib.js")
    script(src="./test.js")
  body
    #qunit
    #qunit-fixture
