doctype html
html
  head
    meta(charset='UTF-8')
    title QUnit Main Test Suite
    link(rel="stylesheet", href="./thirdparty/qunit/qunit.css")
    script(src="./thirdparty/jquery/jquery.min.js")
    script(src="./thirdparty/qunit/qunit.js")
    script(src="./lib.js")
    script(src="./test.js")
  body
    #qunit
    #qunit-fixture
